html {
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans", sans-serif !important;
}

.default-div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.highlight {
    color: #40a9ff;
}

.error-text {
    color: red !important;
    transition: all 0.5s ease-in-out;
}

.notify-content{
    font-weight: bold;

}

.notify-content > button {
    color: #000;
    font-weight: bold;
    padding: 10px 0 !important;
}

